# ──────────────────────────────────────────────
# Patient Management — Environment Variables
# Copy this file to .env and fill in the values
# ──────────────────────────────────────────────

# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=password

# JWT Secret (use a strong base64-encoded secret in production)
# Generate with: openssl rand -base64 32
JWT_SECRET=ahnZC9Ae2j7leQN7gIan0lGtmpHGHHVc7ID7IFdDBbW=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# gRPC Billing Service
BILLING_SERVICE_ADDRESS=billing-service
BILLING_SERVICE_GRPC_PORT=9001
